<!DOCTYPE html>
<html>
  <head>
     <h1 style="background-color:gray;"> ACC Login Form</h1>
  </head>  
<body>
  <h2>Already have an account?:</h2>
  <form action = "http://127.0.0.1:8000/login">
    <input type = "submit" value = "login" />
</form>
<h2>Sign up if new:</h2>
<form action = "http://127.0.0.1:8000/signup">
    <input type = "submit" value = "sign up " />
</form>

<h2>Sign in for Google:</h2>
<form action = "http://127.0.0.1:8000/login/google">
    <input type = "submit" value = "sign in " />
</form>
<h2>Sign in for Facebook:</h2>
<form action = "http://127.0.0.1:8000/fb-login">
    <input type = "submit" value = "sign in " />
</form>
</body>
</html>


