<html>
   <body>
      <form action = "/success" method = "post">
         <!-- rm action = "/signsuccess" method = "post"> -->
         {% if login %}
         <h1> Passsword does not matched</h1>
         <p>Enter Email Address:</p>
         
         <p><input type = "email" name = "email" placeholder="Enter Email" /></p>
         enter password:
         <p><input type = "password" name = "password" placeholder="Enter Password"/></p>

         <button type = "submit" value = "Sign Up" > </button>
            {% elif lol %}
         <h1>User does not exist</h1>
         <p>Enter Email Address:</p>
         <p><input type = "email" name = "email" placeholder="Enter Email" /></p>
         enter password:
         <p><input type = "password" name = "password" placeholder="Enter Password"/></p>

         <button type = "submit" value = "Sign Up" > </button>
            {% else %}

         <p>Enter email:</p>
         <p><input type = "email" name = "email" placeholder="Enter Email"/></p>
         enter password:
         <input type = "password" name = "password" placeholder="Enter Password"/>

         <button type = "submit" value="Login"></button>
         {% endif %}
         <!-- <a href='/signup'> -->
            
        </a>
      </form>
   </body>
</html>