<body>'
<h2>Youre logged in Please fill up some details</h2>
<form action = "/1_details" method = "post">
         
    <p>City:</p>
    <p><input type = "city" name = "city" placeholder="Enter city" /></p>
    State:
    <p><input type = "state" name = "state" placeholder="Enter state"/></p>
    Contact:
    <p><input type = "state" name = "state" placeholder="Enter number"/></p>
    <p><input type = "state" name = "state" placeholder="Enter number"/></p>
    <p><input type = "state" name = "state" placeholder="Enter number"/></p>

    <p><input type = "submit" ></p>


 </form>
</body>
<!-- <a href="/" >Logout</a> -->
</body>